<pre>{{ book | json }}</pre>


<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">{{ book.rating }}</span>
      </h2>
    </div>

    <br-rating [rating]="book.rating"></br-rating>

    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency:'EUR' }}</p>

    <button [disabled]="book.rating <= max" type="button" class="btn btn-success me-2" (click)="doRateUp()"> + </button>
    <button [disabled]="book.rating >= min" type="button" class="btn btn-danger me-2" (click)="doRateDown()"> – </button>

    <a [routerLink]="['/books', book.isbn]">Details</a>

    <!--
    <a [routerLink]="'/books/' + book.isbn">Details</a>
    <a [routerLink]="[book.isbn]">Details</a>
    <a [routerLink]="book.isbn">Details</a>
    <a routerLink="/books/{{ book.isbn }}">Details</a>
    <a routerLink="./{{ book.isbn }}">Details</a>
    -->
  </div>
</div>
